@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.basket {
    display: flex;
    gap: 0 15px;
    padding: 20px 0 20px;
    min-height: calc( 100vh - 65px);

    &__content {
        flex: 1 1 auto;
        border-radius: $border-radius-base;
    }
    &__aside {
        position: relative;
        flex: 0 0 350px;
        background: #fff;
        border-radius: $border-radius-base;
        box-shadow: $shadow-primary;
    }

    &.skeleton {
        .basket__content,
        .basket__aside {
            animation: $animation-skeleton-loading;
        }
    }
}

.basketEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;

    &__title {
        display: block;
        font-size: 1.6rem;
    }
    &__message {
        width: 390px;
        margin: 20px 0 30px;
        color: $gray-600;
        text-align: center;
    }
    &__btn {
        font-weight: 700;
    }
}