@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.basket {
    display: flex;
    gap: 15px;
    padding: 20px 0 20px;
    min-height: calc( 100vh - 65px);

    @media screen and (max-width: $screen-desktop-2) {
        flex-wrap: wrap;
        min-height: auto;
    }

    &__content {
        flex: 1 1 auto;
        border-radius: $border-radius-base;

        @media screen and (max-width: $screen-desktop-2) {
            flex: 0 0 100%;
        }
    }
    &__aside {
        position: relative;
        flex: 0 0 350px;
        background: #fff;
        border-radius: $border-radius-base;
        box-shadow: $shadow-primary;

        @media screen and (max-width: $screen-desktop-1) {
            flex: 0 0 325px;
        }
        @media screen and (max-width: $screen-desktop-2) {
            flex: 0 0 100%;
        }
    }

    &.skeleton {
        .basket__content,
        .basket__aside {
            animation: $animation-skeleton-loading;
        }
    }

    &__modal {
        margin: 20px 0;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
    }
}

.basketEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;

    &__title {
        display: block;
        font-size: 1.6rem;
    }
    &__message {
        width: 390px;
        margin: 20px 0 30px;
        color: $gray-600;
        text-align: center;
    }
    &__btn {
        font-weight: 700;
    }
}