@import '../../styles/variables.scss';

.basket {
    display: flex;
    gap: 0 10px;
    padding: 20px 0 20px;
    min-height: calc( 100vh - 65px);

    &__content {
        flex: 1 1 auto;
    }
    &__aside {
        position: relative;
        flex: 0 0 350px;
        background: #fff;
        border-radius: $border-radius-base;
        box-shadow: $shadow-primary;
    }
}