@import '../../../styles/variables.scss';

.content {
    height: 100%;
    padding: $padding-basket;
    background: #fff;
    border-radius: $border-radius-base;
    box-shadow: $shadow-primary;
    
    &__header {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $gray-300;
    }
    &__title {
        font-size: $title-basket;
    }
    &__label {
        margin-top: 15px;
    }
}