@import '../../../styles/variables.scss';

.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0 0 0 /0.8);

    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transition: 0.5s;

    &.active {
        opacity: 100;
        pointer-events: all;
    }
    &__content {
        position: relative;
        width: 500px;
        min-width: 300px;
        max-height: calc(100vh - 50px);
        background: $background-base;
        padding: 20px 30px;
        border-radius: $border-radius-base;
        overflow-y: auto;

        transform: translateY(-50px);
        transition: 0.6s;

        .active & {
            transform: translateY(0);
        }
    }
    &__title {
        margin-bottom: 20px;
        font-size: 1.5em;
    }
    &__btnClose {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 3px solid #000;
        transition: all .1s linear;

        &:hover {
            cursor: pointer;
        }
        &:active {
            transform: translateY(3px);
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            height: 3px;
            background: #000;
            display: block;

        }
        &::before {
            transform:  translate(-50%, -50%) rotate(45deg);
        }
        &::after {
            transform:  translate(-50%, -50%) rotate(-45deg);
        }
    }
}