@import '../../styles/variables.scss';

.container {
    display: flex;
    min-height: calc(100vh - $height-header);
    padding-top: $indent-base;
    padding-bottom: 40px;
}
.aside {
    flex: 0 0 30%;
    align-self: flex-start;
    min-width: 250px;
    max-width: 200px;
    margin-right: 10px;
    background: #fff;
    border-radius: $border-radius-base;
    user-select: none;
}
.main {
    flex: 1 0 70%;
    margin: 0 $margin-card;
}