.container {
    display: flex;
    min-height: calc(100vh - 54px);
    padding-top: 10px;
}
.aside {
    flex: 0 0 200px;
    margin-right: 10px;
    user-select: none;
}
.main {
    flex: 1 0 auto;
    background-color: yellow;
}