@import '../../../styles/variables.scss';
@import '../../../styles/animations.scss';

.list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $indent-base;

    &.skeleton {
        height: 36px;
        animation: $animation-skeleton-loading;
        border-radius: $border-radius-base;
    }

    &__item {
        padding: 5px 20px;
        border: 1px solid transparent;
        border-radius: $border-radius-base;
        cursor: pointer;
        user-select: none;

        &.active {
            background-color: $background-primary;
            border-color: $gray-500;
            color: #fff
        }
    }
}