@import '../../../styles/variables.scss';
@import '../../../styles/animations.scss';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 25%;
    padding: 20px 15px 10px;
    border-radius: $border-radius-base;
    background-color: #fff;

    &:hover {
        box-shadow: 0 6px 14px 0 #00000014;
    }
    &.skeleton {
        animation: $animation-skeleton-loading;
        height: 412px;
    }

    &:nth-child(1n+5) {
        margin-top: 15px;
    }
    &__title {
        text-align: center;
        cursor: pointer;
    }
    &__price {
        margin-top: 10px;
    }
    &__buttons {
        display: flex;
        margin-top: 20px;
        width: 100%;

        button {
            flex: 1 0 auto;
        }
    }
    &__image {
        display: block;
        width: 160px;
        height: 212px;
        margin-top: 20px;
        cursor: pointer; 
        object-fit: contain;
    }
    &__rating {
        display: flex;
        align-items: center;
        margin-top: 10px;

        img {
            display: block;
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
    }

}

.btnBuy {
    margin-right: 15px;
}