@import '../../../styles/variables.scss';

.device {
    &__inner {
        display: flex;  
        align-items: flex-start;
        gap: 20px;
    }
    &__checkboxBox {
        align-self: center;

        @media screen and (max-width: $screen-tablet-1) {
            position: absolute;
            top:0;
            left: 0;
            margin: 0;
        }
    }
    & + & {
        margin-top: 30px;
    }
    &__imageBox {
        position: relative;
        display: flex;
    }
    &__img {
        display: block;
        min-width: 80px;
        width: 80px;
        height: 100px;
        object-fit: contain;
        object-position: top center;
    }
    &__wrapperInfoAndPrice {
        display: flex;
        flex: 1 1 auto;
        align-items: flex-start;

        @media screen and (max-width: $screen-mobile-1) {
            flex-direction: column;
            align-items: stretch;
        }
    }
    &__infoBox {
        flex: 1 1 40%;
        min-width: 200px;

        @media screen and (max-width: $screen-mobile-1) {
            order: 2;
        }
    }
    &__name {
        font-size: 1.1rem;
    }
    &__color {
        font-size: .9rem;
        color: $gray-500;
    }
    &__quantityWrapper {
        width: 120px;
    }
    &__removeBtn {
        display: block;
        width: fit-content;
        margin-top: 10px;
        border:none;
        border-bottom: 1px dashed $gray-500;
        font-size: 0.9rem;
        color: $gray-500;
        background: none;
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: all .3s ease-in-out;
        

        &:hover {
            color: $text-base;
            border-bottom-color: #000;
        }

        .device:hover & {
            pointer-events: all;
            opacity: 1;
        }
    }
    &__quantityBox {
        flex: 1 1 20%;
        
        @media screen and (max-width: $screen-tablet-2) {
            display: none;
        }
    }
    &__priceBox {
        flex: 0 0 135px;
        white-space: nowrap;
        text-align: end;
        font-size: 1.3rem;
        font-weight: bold;

        @media screen and (max-width: $screen-tablet-2) {
            font-size: 1.2rem;
        }
        @media screen and (max-width: $screen-mobile-1) {
            display: flex;
            align-items: center;
            order: 1;
            flex: 0 0 auto;
            margin-bottom: 5px;
            font-size: 1rem;
        }
    }
    &__price_discount {
        font-size: 1rem;
        color: $gray-500;
        text-decoration: line-through;
        transition: color .3s linear;

        &:hover {
            color: $text-base;
        }

        @media screen and (max-width: $screen-tablet-2) {
            font-size: .95rem;
        }
        @media screen and (max-width: $screen-mobile-1) {
            font-size: .9rem;
        }
    }
    &__discount {
        position: relative;
        width: fit-content;
        margin-left: auto;
        border-bottom: 1px dashed $gray-600;
        cursor: pointer;

        @media screen and (max-width: $screen-mobile-1) {
            margin-left: 10px;
            line-height: 1.1;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 7px;

        @media screen and (min-width: $screen-tablet-2) {
            display: none;
        }
    }
    &__footerRemoveBox {
        cursor: pointer;
    }
    &__footerRemoveIcon {
        font-size: 1.3rem;
        color: $gray-500;
        transition: all .3s linear;

        .device__footerRemoveBox:hover &{
            color: $red-500;
        }
    }

    @media screen and (max-width: $screen-tablet-2) {
       & + & {
            border-top: 1px solid $gray-300;
            margin-top: 20px;
            padding-top: 20px;
       }
    }
}

.discountPopup {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    padding: 10px;
    font-size: .9rem;
    font-weight: normal;
    border-radius: $border-radius-base;
    color: $gray-600;
    white-space: nowrap;
    background: #fff;
    box-shadow: $shadow-primary;

    &__discount {
        margin-right: 50px;
    }

    .device__discount:hover &{
        display: flex;
    }
}