@import '../../../styles/variables.scss';

.device {
    display: flex;  
    align-items: flex-start;
    gap: 20px;

    & + & {
        margin-top: 30px;
    }
    &__imageBox {
        width: 80px;
        height: 100px;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top center;
    }
    &__infoBox {
        flex: 1 0 auto;
    }
    &__name {
        font-size: 1.1rem;
    }
    &__color {
        font-size: .9rem;
        color: $gray-500;
    }
    &__quantityWrapper {
        display: flex;
        align-items: center;
        width: 180px;
    }
    &__removeBtn {
        display: block;
        width: fit-content;
        margin-top: 10px;
        border:none;
        border-bottom: 1px dashed $gray-500;
        font-size: 0.9rem;
        color: $gray-500;
        background: none;
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: all .3s ease-in-out;
        

        &:hover {
            color: $text-base;
            border-bottom-color: #000;
        }

        .device:hover & {
            pointer-events: all;
            opacity: 1;
        }
    }
    &__quantity {
        margin: 0 10px;
    }
    &__priceBox {
        width: 195px;
        text-align: end;
        font-size: 1.3rem;
        font-weight: bold;
    }
    &__price_discount {
        font-size: 1rem;
        color: $gray-500;
        text-decoration: line-through;
    }
}