@import '../../../styles/variables.scss';

.aside {
    position: sticky;
    top: 10px;
    padding: $padding-basket;
    background: #fff;
    border-radius: $border-radius-base;

    &__row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        color: $gray-500;

        & + & {
            margin-top: 7px;
        }
    }
    &__row_title {
        font-size: $title-basket;
        color: $text-base;
    }
    &__totalPrice {
        font-weight: 700;
    }
    &__btnBox {
        margin-top: 30px;
    }

    @media screen and (max-width: $screen-desktop-1) {
        padding: $padding-basket-laptop;
    }

    @media screen and (max-width: $screen-desktop-2) {
        &__row {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 7px;
                display: block;
                border-bottom: 1px dashed $gray-300;
                z-index: -1;
            }
            &_title {
                &::after {
                    bottom: 9px;
                }
            }
            &_zero {
                &::after {
                    display: none;
                }
            }
        }
        &__rowTitle {
            padding-right: 7px;
            background: #fff;
        }
        &__rowValue {
            padding-left: 7px;
            background: #fff;
        }
    }
}