@import '../../../styles/variables.scss';

.fileName {
    margin-left: 10px;
}

.field {
    margin-bottom: 10px;
}

.textarea {
    resize: none;
}

.info {
    &__row {
        display: flex;
        position: relative;
        padding-top: 15px;

        & + & {
            margin-top: 15px;
            border-top: 1px dashed $gray-500;
        }
    }
    &__input {
        margin-bottom: 0 !important;
    }
    &__item {
        flex: 0 1 50%;

        & + & {
            margin-left: 5px;
        }
    }
    &__remove {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        font-size: 18px;
        cursor: pointer;
        transition: transform .1s linear;
        color: $gray-500;
        transition: color .3s linear;

        &:hover {
            color: #000;
        }
    }
}

.addInfo {
    margin-top: 15px;
}
.btnAdd {
    flex: 0 0 auto;
}