@import '../../../styles/variables.scss';

.fileName {
    margin-left: 10px;
}

.field {
    margin-bottom: 10px;
}

.textarea {
    resize: none;
}

.info {
    &__row {
        position: relative;
        padding-top: 30px;

        & + & {
            margin-top: 15px;
            border-top: 1px dashed $gray-500;
        }
    }

    &__remove {
        position: absolute;
        top: 3px;
        right: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: transform .1s linear;
        
        &:hover {
            transform: rotate(90deg);
        }
        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #000;
            top:50%;
            transform: translateY(-50%);
        }
        &::after {
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(-45deg);
        }
    }
}

.addInfo {
    margin-top: 5px;
}