@import '../../../styles/variables.scss';

.btn {
    height: fit-content;
    padding: 4px 23px;
    border: 1px solid $border-secondary;
    border-radius: 5px;
    background: #fff;
    user-select: none;
    transition: all .1s linear;

    &:disabled {
        color: $gray-400;
        border-color: $gray-400;
        cursor:not-allowed;
    }
    
    &.secondary {
        color: #fff;
        background-color: $background-black;
        
        &:hover {
            background-color: #444;
            border-color: #444;
            color: #fff;
        }

        &:disabled {
            background: rgba(0 0 0/0.3);
            cursor:not-allowed;
            border-color:rgba(0 0 0/0.3);

            &:hover {
                border-color:rgba(0 0 0/0.3);
            }
        }
    }
    &:hover {
        cursor: pointer;
        border-color:#666;
        color: #666;
    }
    &:active {
        transform: translateY(3px);
    }
    &:focus {
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    }
}
