@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 6px 16px 0 rgb(25 25 25 / 6%);
    z-index: 20;
}  
.logo {
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}
.nav {
    display: flex;
    align-items: center;
    height: 54px;

    &__menu {
        flex: 1 0 auto;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        height: 100%;
        padding: 0;
        margin: 0;
        margin-left: auto; 
    }
    &__item {
        display: inline-block;
        height: 100%;
        padding: 0 16px;
    }
    &__link {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 8px;
        
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: transparent;
            transition: background-color .3s linear;
        }
        &:hover {
            &::after {
                background-color: $background-primary;
                .skeleton & {
                    background: transparent;
                }
            }
        }
    }
}

.btn {
    & + & {
        margin-left: 20px;
    }
}

.skeleton {
    .nav__item {
        width: 100%;
    }

    .skeleton_item {
        display: inline-block;
        width: 40%;
        height: 25px;
        margin-left: auto;
        border-radius: 5px;
        animation: skeleton-loading 1s infinite alternate;
    }

    .skeleton_logo {
        width: 80px;
        height: 25px;
        border-radius: 5px;
        animation: skeleton-loading 1s infinite alternate;
    }
}