@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 6px 16px 0 rgb(25 25 25 / 6%);
    z-index: 20;
    user-select: none;
}  
.logo {
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}
.nav {
    display: flex;
    align-items: center;
    height: 54px;

    &__menu {
        flex: 1 0 auto;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        height: 100%;
        padding: 0;
        margin: 0;
        margin-left: auto; 
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 16px;
        white-space: nowrap;

        &_basket,
        &_user {
            position: relative;
        }
    }
    &__link {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 8px;
        
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: transparent;
            transition: background-color .3s linear;
        }
        &:hover {
            &::after {
                background-color: $background-primary;
                .skeleton & {
                    background: transparent;
                }
            }
        }
    }
    &__icon {
        font-size: 25px;
        cursor: pointer;
    }
    &__select {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.btn {
    & + & {
        margin-left: 20px;
    }
}

.skeleton {
    .nav__item {
        width: 100%;
    }

    .skeleton_item {
        display: inline-block;
        width: 40%;
        height: 25px;
        margin-left: auto;
        border-radius: 5px;
        animation: $animation-skeleton-loading;
    }

    .skeleton_logo {
        width: 80px;
        height: 25px;
        border-radius: 5px;
        animation: $animation-skeleton-loading;
    }
}

.userMenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    box-shadow: 0 6PX 16PX 0 rgb(25 25 25 / 10%);
    border: 1px solid $border-gray;
    border-radius: $border-radius-base;
    z-index: 20;

    .active & {
        display: block;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top:-3px;
        right: 25px;
        height: 18px;
        width: 18px;
        background: #fff;
        border: 1px solid $border-gray;
        border-bottom: none;
        border-right: none;
        border-radius: 3px;
        transform: rotate(45deg) translateY(-50%);
    }
    &__item {
        color: $text-secondary;
        font-size: 0.9rem;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        
        & + & {   
            border-top: 1px solid $border-gray;
        }
    }
    &__link {
        display: block;
        min-width: 200px;
        padding: 10px 15px;
        transition: all .3s linear;

        &:hover {
            color: $text-base;
            text-decoration: underline;
        }
    }
}