@import '../../../../styles/animations.scss';
@import '../../../../styles/variables.scss';

.filter {
    padding: 0 15px;

    &.skeleton {
        width: 100%;
        height: 500px;
        border-radius: $border-radius-base;
        animation: $animation-skeleton-loading;
    }
}