@import 'variables';

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: $text-base;
    background: $background-base;
}

.AppLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Forms
––––––––––––––––––––––––––––––––– */
input, 
select,
textarea {
    outline: none;
}

input[type='text'],
input[type='number'],
input[type='password'],
textarea {
  width: 100%;
  padding: 2px 8px;
  margin-bottom: 5px;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 5px;
}

.form {
  &__input,
  &__textarea {
    display: block;
    min-height: 38px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 2px 8px;
    
    &:hover {
      border-color: hsl(0, 0%, 70%);
      outline: none;
    }
    &:focus {
      box-shadow: 0 0 0 1px #000;
      border-color: #000;
    }
  }
  &__label {
    display: flex;
    width: fit-content;
    margin-bottom: 3px;
    font-weight: bold;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
  }
  &__error {
    margin-right: 20px;
    font-size: 0.9rem;
    color: $red-700;
  }
  &__btn{
    display: inline-block;
    margin-left: auto;
  }
  &__spinnerContainer {
    position: relative;
    height: 34px;
    width: 68px;
  }
  &__spinner {
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%) scale(0.5);
  }
}

div.error-message {
    margin-bottom: 10px;
    color: $red-700;
    font-size: .8rem;
}
/* ––––––––––––––––––––––––––––––––– */

.btn {
  font-size: 0.9rem;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;  
}