@import 'variables';

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: $text-base;
}

.container {
    width: 100%;
    max-width: 1500px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    padding: 4px 23px;
    border: 1px solid $border-secondary;
    border-radius: 5px;
    background: #fff;
    
    &:hover {
        cursor: pointer;
        border-color:#666;
        color: #666;
    }
    &.secondary {
        color: #fff;
        background-color: $background-black;

        &:hover {
            background-color: #444;
            border-color: #444;
        }
    }
}