@import 'variables';

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: $text-base;
}

.container {
    width: 100%;
    max-width: 1500px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Buttons
––––––––––––––––––––––––––––––––– */
.btn {
    height: fit-content;
    padding: 4px 23px;
    border: 1px solid $border-secondary;
    border-radius: 5px;
    background: #fff;
    
    &.secondary {
        color: #fff;
        background-color: $background-black;
        
        &:hover {
            background-color: #444;
            border-color: #444;
        }
    }
    & + & {
        margin-left: 20px;
    }
    &:hover {
        cursor: pointer;
        border-color:#666;
        color: #666;
    }
    &:active {
        transform: translateY(1px);
    }
    &:focus {
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    }
}


/* Forms
––––––––––––––––––––––––––––––––– */
label {
    font-weight: bold;
    display: flex;
}

input {
    outline: none;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 0.65rem 0.5rem;
  margin-bottom: 5px;
  font-size: 1rem;
  border: 2px solid $gray-200;
  background-color: $gray-100;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus-visible {
    border-color: $gray-600;
  }
}

div.error-message {
    margin-bottom: 10px;
    color: $red-700;
    font-size: .8rem;
}