@import '../../../styles/variables.scss';
@import '../../../styles/animations.scss';

.list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: $border-radius-base;
    box-shadow: 0 6px 14px 0 rgb(0 0 0 / 8%);

    &.skeleton {
        animation: $animation-skeleton-loading;
        height: 300px; 
        border: none;
    }

    &__item {
        padding: 7px 20px;
        cursor: pointer;

        & + & {
            border-top: 1px solid $gray-200;
        }
        &:hover {
            background-color: rgba(0 0 0 /0.1);
        }
        &.active {
            background-color: #000;
            color: #fff
        }
    }
}