@import '../../../styles/variables.scss';
@import '../../../styles/animations.scss';

.list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    // TODO bbarb: while types is loading, type list  height equal 0, it display like some slim line
    border: 1px solid $gray-500;
    border-radius: $border-radius-base;

    &.skeleton {
        animation: $animation-skeleton-loading;
        height: 300px; 
        border: none;
    }

    &__item {
        padding: 7px 20px;
        cursor: pointer;

        & + & {
            border-top: 1px solid $gray-500;
        }
        &:hover {
            background-color: rgba(0 0 0 /0.1);
        }
        &.active {
            background-color: $background-primary;
            color: #fff
        }
    }
}